/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require reset
*/
@import "compass";

html {
  width: 100%;
  height: 100%;
}

body {
  height: 100%;
  overflow: hidden;
}

.dialog_font {
  font-size: 14px;
  line-height: 18px;
  color: #333;
  font-family: "Helvetica Neue",Arial,sans-serif;
}
.gradient {
  background-color: rgb(207,231,250); // Old browsers
  @include filter-gradient(#cfe7fa, #6393c1, vertical); // IE6-9
  @include background-image(linear-gradient(top, rgba(207,231,250,1) 0%,rgba(99,147,193,1) 100%));
}
