<div id="calendar-container">
	<h5>Calendar</h5>
	<div id="calendar"></div>
	<div class="inner-nav">
    <div class="align-left"><a href="#"><span>+ add event</span></a></div>
    <div class="align-right"><a href="#"><span>? list events</span></a></div>
    <span class="clearFix">&nbsp;</span>
  </div>
</div><!-- end of div#calendar-container -->
